#directory {
  border-right: 1px solid $light-gray;
  height: 100vh;
  // transition: .5s ease;
  box-sizing: border-box;
  // transform: translateX(0);
  // width: 300px;
}

.hide-directory {
  // -webkit-animation: slideout 5s infinite; /* Safari 4+ */
  // -moz-animation: slideout 5s infinite; /* Fx 5+ */
  // -o-animation: slideout 5s infinite; /* Opera 12+ */
  animation: slideout .5s; /* IE 10+, Fx 29+ */
  // animation-iteration-count: 1;
  // transition: .5s ease;
  // transform: translateX(-300px);
  // width: 0;
}

// @-webkit-keyframes slideout {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @-moz-keyframes slideout {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
// @-o-keyframes slideout {
//   0%   { opacity: 0; }
//   100% { opacity: 1; }
// }
@keyframes slideout {
  0%   { transform: translateX(0); width: 300px; }
  100% { transform: translateX(-300px); width: 0; }
}

.show-directory {
  // transition: .5s ease;
  // transform: translateX(0);
  // width: 300px;
  animation: slidein .5s; /* IE 10+, Fx 29+ */
  // animation-iteration-count: 1;
  min-width: 300px;
}
@keyframes slidein {
  0% { transform: translateX(-300px); width: 0; }
  100%   { transform: translateX(0); width: 300px; }
}

.filter {
  height: 65px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  background-color: white;
  h4 {
    width: 50%;
    text-align: center;
    line-height: 65px;
  }
  .inactive {
    color: $gray;
  }
  .inactive:hover {
    cursor: pointer;
    color: $blue;
  }
  .active {
    color: white;
    background-color: $blue;
  }
}

#directory-index {
  overflow: scroll;
  height: calc(100vh - 65px);
}

.fa-search {
  width: 40px;
  color: $gray;
}
.navbar-icon {
  width: 40px;
  color: $gray;
}
.navbar-icon:hover {
  color: $blue;
  cursor: pointer;
}

.directory-folder {
  background-color: white;
  color: $gray;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  i {
    padding-right: 10px;
  }
}
.directory-folder:hover {
  color: $blue;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  z-index: 6000;
}

.directory-company {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  color: $gray;
  padding: 20px;
  background-color: $lightest-gray;
  border: 1px solid white;
}
.directory-company:hover {
  color: $blue;
  background-color: white;
  cursor: pointer;
}
