.directory {
  flex: 1;
  border-right: 1px solid $light-gray;
  height: 100vh;
}

.filter {
  height: 65px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  background-color: white;
  h4 {
    width: 50%;
    text-align: center;
    line-height: 65px;
  }
  .inactive:hover {
    cursor: pointer;
    color: $blue;
  }
  .active {
    color: white;
    background-color: $blue;
  }
}

.company-show {
  flex: 3;
}

.fa-search {
  width: 40px;
  color: $gray;
}
.navbar-icon {
  width: 40px;
  color: $gray;
}
.navbar-icon:hover {
  color: $blue;
  cursor: pointer;
}

.directory-folder {
  background-color: white;
  color: $light-gray;
  padding: 20px 10px;
  // padding: 20px 20px 0px 20px;
  margin-bottom: 10px;
  // border-bottom: 1px solid $light-gray;
  display: flex;
  align-items: center;
  i {
    padding-right: 10px;
  }
}
.directory-folder:hover {
  color: $blue;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  z-index: 6000;
}

.directory-company {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  color: $gray;
  padding: 20px;
  background-color: $lightest-gray;
  border: 1px solid white;
}
.directory-company:hover {
  color: $blue;
  background-color: white;
  cursor: pointer;
}
