.navbar {
  width: 100%;
  height: 65px;
  text-align: left;
  padding: 15px 40px;
  box-sizing: border-box;
  font-family: $header;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  color: $gray;
  i {
    width: auto;
  }
  span {
    margin-left: 10px;
  }
  h3:hover {
    color: $blue;
    cursor: pointer;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    h4 {
      margin-left: 12px;
      color: $gray;
    }
    .profile-img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      overflow: hidden;
      img {
        object-fit: cover;
        transform: translate(0px, 22px) scale(2.6);
      }
    }
  }
}

.homepage {
  display: flex;
  width: 100%;
}

.company-show {
  flex: 3;
  min-width: 750px;
}

#chart {
  flex: 3;
  min-height: 500px;
  margin-right: 40px;
  height: 500px;
}

#content-wrapper-fixed {
  overflow: scroll;
  height: calc(100vh - 65px);
  #content-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 80px;
    max-width: 1400px;
    margin: auto;
  }
}

#content-header {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  h1 {
    margin-right: 10px;
    color: $blue;
  }
  h4 {
    color: $gray;
    font-size: 24px;
  }
}

#content {
  display: flex;
}

#news-articles-wrapper {
  flex: 2;
  border: 1px solid $light-gray;
  h4 {
    color: white;
    background-color: $blue;
    padding: 10px 20px;
  }
  #news-articles-index {
    height: 465px;
    overflow: scroll;
  }
}

.news-articles-index-item {
  padding: 20px;
  color: $gray;
  background-color: $lightest-gray;
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .news-article-description {
    margin-top: 10px;
    font-size: 14px;
  }
  .news-article-source {
    margin-top: 10px;
    font-size: 10px;
  }
}
.news-articles-index-item:hover {
  background-color: white;
  color: $blue;
  cursor: pointer;
}

@media only screen and (max-width: 1100px)  {
  #chart {
    width: auto;
    margin-bottom: 60px;
    margin-right: 0px;
  }
  #content {
    flex-direction: column;
  }
}
