.navbar {
  width: 100%;
  height: 65px;
  text-align: left;
  padding: 15px 40px;
  box-sizing: border-box;
  font-family: $header;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $light-gray;
  color: $gray;
  h3:hover {
    color: $blue;
    cursor: pointer;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    h4 {
      margin-left: 12px;
      color: $gray;
    }
    .profile-img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      overflow: hidden;
      img {
        object-fit: cover;
        transform: translate(4px, 22px) scale(6);
        filter: grayscale(100%);
      }
    }
  }
}

.homepage {
  display: flex;
  width: 100%;
}
