@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Raleway');

$text: 'Raleway', sans-serif;
$header: 'Abril Fatface', cursive;

$fa-font-path:   "../../assets/fonts/web-fonts-with-css/scss/fontawesome.scss";
